@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nprogress-bar-color: theme(colors.green.dark.200);
  --nprogress-spin-color: theme(colors.green.dark.200);

  --scroll-width: 5px;
  --scroll-color: theme(colors.green.dark.200);
  --scroll-radius: 10px;
}

@import './fonts.css';
@import './nprogress.css';

::-webkit-scrollbar { width: var(--scroll-width); }
::-webkit-scrollbar-thumb { border-radius: var(--scroll-radius); background: var(--scroll-color); }

